header.header
  a.logo(data-target="list", href="http://localhost:3000/") /

  form#js-form.form(action="/search/")
    label.s--sr(for="search")
    input.input#search(type="text", name="search", value="",autofocus="",placeholder="Search")
