extends ./layouts/index

block content
  ul.list
    each el in data.posts
      li: a(href=el).post: article
        h1.post__el= data[ el ].attributes.title
        time.post__el= data[ el ].attributes.date
