doctype html
html
  head
    meta(http-equiv="Content-type", content="text/html;charset=utf-8")
    title= htmlWebpackPlugin.options.title
    base(href='http://localhost:3000/')
  body.js-list
    .container
      include ./partials/header.pug

      include ./partials/loop.pug

      section#js-single
        header
          h1.post__title
        #js-single__body

      include ./partials/footer.pug
