.header
  padding vr-block(1) 0
  margin-top -10px

.logo
  // color: color.white
  // background-color: color.brand
  border: 2px solid color.brand
  display inline-block
  font-family $helvetica
  line-height 2
  text-align center
  height vr-block(1.1)
  width @height

.post__list__item
  display inline-block
  font-family $helvetica
  padding-left 5px
  padding-right 5px

.post__list
  float left

.post__title
  t-h1()
  padding-bottom vr-block(0.5)
  margin-top 0 !important

.post__next
  overflow hidden
  padding-top vr-block(2)
  padding-bottom vr-block(1)

.post__next__link
  &:before,
  &:after
    font-size rem(15px)

.post__date
  display inline-block
  margin-right vr-block(.5)
  vertical-align baseline

.footer
  padding-bottom vr-block(1)
  font-family $helvetica

.input
  // background-color: darken(color.cream, .2)
  border 0
  border-bottom: 1px solid black
  outline 0
  font-size 16px !important
  text-align right

  &::placeholder
    color: color.brand


  &:focus
    border-color: color.brand

.form
  background-color: color.cream
  display inline-block
  height vr-block(1.1)
  float right
  margin-top 28px

.content
  padding-bottom vr-block(1)
