.container
  center(60ex, vr-block(.5))

.list__item--inline
  display inline-block
  cf()

.f--left
  float left

.f--right
  float right

.s--sr
  clip rect(1px, 1px, 1px, 1px)
  position absolute
  height 1px
  width 1px
  overflow hidden
