// Colour setting hash
color = {
  brand: #FF8598,
  black: #271101,
  white: white,
  // cream: rgba(253,253,241,1)
  cream: white
}

// Typography settings for typographic
$body-font = 'Georgia', 'serif'
$body-color = color.black
$min-font = 18px
$max-font = 21px

// Set typographics max-font to base-font-size for axis rem() function
$base-font-size = $max-font

// Rupture settings
rupture.enable-em-breakpoints = true
rupture.anti-overlap = true
rupture.scale =        0        400px       600px      800px        1050px     1800px

//                     └────┬────┘ └────┬────┘ └────┬────┘ └────┬────┘ └────┬────┘ └────┬────
// Slice numbers:           1           2           3           4           5           6
// rupture.scale-names:       'xs'        's'         'm'         'l'         'xl'        'hd'
