@import 'axis'
@import 'typographic'
@import 'rupture'

color = {
  brand: #FF8598,
  black: #271101,
  white: white,
  cream: lighten(rgba(253,253,241,1), 0.5)
}

$line-height-ratio   = 1.75
$heading-ratio       = $golden
$body-font           = $georgia
$body-font-weight    = 300
$body-color          = color.black
$heading-font        = $helvetica
$heading-font-weight = 500
$heading-color       = color.black
$min-font            = 18px
$max-font            = 24px
$min-width           = 600px
$max-width           = 1000px
$vertical-rhythm     = true

rupture.enable-em-breakpoints = true
rupture.anti-overlap = true

border-box-html()
fluid-media()
typographic()

a
  text-decoration none
  color: color.brand

html
  background-color: color.black

body
  margin 0
  background-color: color.cream

code
  code(color.brand)

pre
  pre()

*
  outline 0

blockquote
  padding-left vr-block( .5 )
  border-left: 3px solid color.brand

.container
  padding vr-block( .5 )
  padding-top 0
  max-width 70ex
  transition padding 0.25s ease

  +above( 768px )
    padding-left vr-block( 2 )

.header
  @extend .container
  position relative
  padding-top vr-block( .5 )

  +above( 768px )
    padding-top vr-block( 1 )

  + .container
    padding-top vr-block( 3 )

.no-underline
  text-decoration none

.logo
  background-color: color.cream
  position absolute
  font-family $helvetica
  font-weight 400

.site-title
  font-weight 400
  font-family $helvetica
  color: color.black
  position relative

  &:before
    content 'The '

  &:focus, &:hover
    color: color.brand
    text-decoration line-through

    .logo
      color: color.black

.body
  padding-left 0

  a
    hover-underline()
    &:focus
      background-color: color.brand
      color: color.white

.list
  list-style none
  padding-left 0

.post
  display inline-block
  position relative

  &:before
    background-color: transparent
    bottom 0
    content ''
    height 75%
    left -20px
    position absolute
    width 5px

  &:focus:before,
  &:hover:before
    animation: 1s animationFrames step-end infinite

@keyframes animationFrames {
  from, to { background-color: color.brand }
  50% { background-color: transparent }
}

.post__el
  line-height 1
  color: color.black
  font-family: $helvetica

.footer
  padding vr-block( .25 )
  border-top: 1px solid darken( color.black, 10 )
  background-color: color.black
  transition padding 0.25s ease

  +above( 768px )
    padding-left vr-block( 2 )
    padding-right vr-block( 2 )

  *
    line-height 1
    color: color.white

.f-right
  float right

.t-serif
  font-family: $helvetica

.align-sub
  vertical-align sub

.img-round
  border-radius 50%

.is-inline
  display inline-block
  + .is-inline
    margin-left vr-block( .5 )

.is-hidden
  display none
