html
  head
    title #{ data.title }
    if env == 'prod'
      style
        include ../../../dist/main.css
    else
      link( href='/main.css', rel='stylesheet' )

    block head

  body
    header.header
      a.no-underline.to-root( href='/' ) /
    main.container
      block content
    block footer
      footer.footer
        img.is-inline.img-round.align-sub(src='https://avatars2.githubusercontent.com/u/4326139?v=3&u=f7c4cc4ee1fdb62d32c7583c38cbfc91bf04350d&s=400',width=25)
        small.is-inline.t-serif Richard Cargill
        small.is-inline.t-serif.f-right Copyright © 2017 Preserved Interest

    if env == 'prod'
      script
        include ../../../dist/main.js
    else
      script(src='/main.js')
