html
  head
    title #{ data.title }
    if env == 'prod'
      style
        include ../../../dist/main.css
    else
      link( href='/main.css', rel='stylesheet' )

    block head

  body
    header.header
      a.no-underline.site-title( href='/' )
        span.logo Preserved Interest
        span Preserved Interest of Richard Cargill
    main.container
      block content
    block footer
      footer.footer
        small.is-inline.t-serif A web development blog by Richard Cargill
        small.is-inline.t-serif.f-right Copyright © 2017 Preserved Interest

    if env == 'prod'
      script
        include ../../../dist/main.js
    else
      script(src='/main.js')
